* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Utility */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

.flex-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bg-primary {
  background-color: #616df4;
  color: #fff;
}

.bg-light {
  background-color: #ffffff;
  color: #444;
}

.text-primary {
  color: #4866e2;
}

.text-light {
  color: #fff;
}

.lg {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #121212;
}

.btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.bs {
  color: #484848;
  padding: 0 1rem;
  font-size: 16px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.btn:nth-child(2) {
  padding: 0.82rem 1.5rem;
  border-radius: 99999px;
  font-size: 16px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  gap: 24px;
}

.card {
  padding: 24px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  transition: all 0.3s;
  cursor: pointer;
  text-align: left;
  margin: 1rem 0;
  position: relative;
}
.card p {
  margin-top: 12px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(60, 60, 67, 0.6);
}
.card i {
  font-size: 30px;
  padding-left: 10px;
  padding-top: 15px;
  color: #e28d67;
}
.card .book {
  font-size: 23px;
  position: absolute;
  right: 1.5rem;
  top: 0.3rem;
  color: #000000;
  opacity: 0;
  transition: all 0.3s;
}
.card h3 {
  margin-top: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #121212;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.card:hover .book {
  opacity: 100;
}

.container {
  margin: 0 auto;
  max-width: 1425px;
  width: 100%;
  padding: 0 1.3rem;
}

header {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: #ffffff;
}

.navbar {
  padding: 1rem 0;
}
.navbar .logo span {
  font-size: 24px;
  padding-left: 5px;
  font-weight: 700;
  font-family: system-ui;
}
.navbar .logo i {
  background-color: #616df4;
  padding: 6px 6px;
  font-size: 27px;
  border-radius: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.searching {
  position: relative;
}
.search-bar .searching input {
  min-width: 565px;
  min-height: 48px;
  border-radius: 9999999px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 0.8rem 2rem;
  z-index: 1;
  border: 1px solid #e6e6e6;
  background-color: #f1f1f1;
  outline: none;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.search-bar i {
  position: absolute;
  right: 10px;
  color: #000;
  top: 15px;
  font-size: 21px;
  padding: 0 1.5rem;
  border-left: 1px solid #e6e6e6;
  z-index: 9;
}
.search-bar input::placeholder {
  color: #a9afb8;
  font-weight: 400;
}

.crumber {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
  padding: 1rem 0;
}
.list li {
  padding: 0.1rem 10px;
  position: relative;
}
.list li a {
  color: #484848;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.list li a::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 2px;
  width: 100%;
  opacity: 0;
  background-color: #000;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.list li a:hover::after {
  opacity: 100;
}
.more {
  float: right;
}
.more:hover {
  color: #000;
}

#icons {
  display: none;
  position: absolute;
  z-index: 9999;
  right: 0;
}
#menu {
  display: none;
}
#cross {
  display: none;
  margin-right: 1.5rem;
  font-size: 16px;
}
.btnss {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* justify-content: center; */
}
.btnss button {
  display: none;
}
.searchings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0.5rem;
  flex-wrap: wrap;
  display: none;
}
.search-bars .searchings input {
  width: 565px;
  min-height: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 0.8rem 2rem;
  z-index: 1;
  border: 1px solid #e6e6e6;
  background-color: #f1f1f1;
  outline: none;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.search-bars .searchings p {
  color: #666;
  font-weight: 700;
}
/* Slider  */
.converter {
  margin-top: 3rem;
}

.other {
  position: relative;
  z-index: 999;
}

.by-1 {
  position: absolute;
  top: 50%;
  padding: 0.3rem;
  border-radius: 50%;
  border: 3px solid #000;
  cursor: pointer;
  margin: 0.5rem 0;
  z-index: 8;
  right: -1%;
  font-weight: 700;
  transform: translateY(-50%);
  z-index: 999;
}

.by {
  position: absolute;
  top: 50%;
  left: -1%;
  padding: 0.3rem;
  border-radius: 50%;
  border: 3px solid #000;
  cursor: pointer;
  margin: 0.5rem 0;
  z-index: 999;
  font-weight: 700;
  transform: translateY(-50%);
}

/* Footer */

.main-footer {
  background-color: #f2f4f5;
  margin-top: 72px;
  padding: 0 12px;
}
.main-footer .top-footer .social {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
}
.main-footer .top-footer .social h5 {
  font-size: 1rem;
  color: #000;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main-footer .top-footer .social .icons {
  display: flex;
  gap: 2rem;
}
.main-footer .top-footer .social .icons i {
  font-size: 20px;
  color: #484848;
  cursor: pointer;
}
.main-footer .top-footer .social .icons i:hover {
  color: #000;
}

.main-footer .main-footer .top-footer .social .icons i:hover {
  color: #000;
}

.footer-list {
  display: flex;
  gap: 8.5rem;
  padding: 40px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  flex-wrap: wrap;
}
.footer-list .links h3 {
  padding-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}
.footer-list .links h4 {
  padding-bottom: 8px;
  padding-top: 8px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  color: #4b4b4b;
}
.footer-list .links h4:hover {
  color: #000;
}

.footer-logo h2 {
  color: #000;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}

.bottom-footer {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.footer-logo h2 span {
  background-color: #000;
  color: white;
  padding: 10px 10px;
  border-radius: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7em;
}

.f-links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.f-links p .a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.f-links p .a:hover {
  text-decoration: underline;
}

.svg {
  padding: 12px;
  background-color: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* Dark Mode  */

.dark {
  background-color: #444;
  border: 1px solid #080606;
  color: #fff;
}
.dark h3 {
  color: #fff;
}
.dark p {
  color: #fff;
}
.dark .book {
  color: #fff;
}
.dark .by-1 {
  border: 3px solid #ffffff;
  color: #ffffff;
}

.dark .by {
  border: 3px solid #ffffff;
  color: #ffffff;
}

.tdark {
  /* background-color: #000; */
  color: #fff;
}
.tdark .by-1 {
  color: #ffffff;
  border: 3px solid rgb(255, 255, 255);
}
.tdark .by {
  color: #ffffff;
  border: 3px solid rgb(255, 255, 255);
}

.fdark {
  background-color: #000;
  color: #fff;
}
.fdark .f-links p .a {
  color: #fff;
}
.fdark .footer-logo h2 span {
  background-color: #fff;
  color: #000;
}
.fdark .footer-logo h2 {
  color: #fff;
}
.fdark .footer-list .links h4:hover {
  color: #fff;
}
.fdark .footer-list .links h4 {
  color: #888;
}
.fdark .top-footer .social h5 {
  color: #fff;
}
.main-footer .top-footer .social .icons i:hover {
  color: #ffffff;
}
.fdark .list li a {
  color: #fff;
}
.fdark .shadow {
  box-shadow: 0 4px 6px -1px rgba(219, 215, 215, 0.1),
    0 2px 4px -2px rgba(255, 248, 248, 0.521);
}
.fdark .search-bar .searching input {
  border: 1px solid #555;
  background-color: #444;
  outline: none;
  color: #ffffff;
}
.fdark .search-bar i {
  color: #ffffff;

  border-left: 1px solid #666;
}
.fdark .bs {
  background-color: #000;
  color: #999;
}
.fdark .list li a:hover::after {
  background-color: #fff;
}
.fdark #glass {
  margin-right: 2rem;
  background-color: #444;
  padding: 1rem;
  border-radius: 50%;
  font-size: 20px;
}
.flight #glass {
  margin-right: 2rem;
  color: #000;
  padding: 1rem;
  border-radius: 50%;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .search-bar {
    display: none;
  }
  .suggestions {
    display: none;
  }
  .suggestion {
    display: none;
  }
  .btns {
    display: none;
  }
  .btnss button {
    display: block;
  }
  .crumber ul {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #000000; */
    background-color: #fff;
    border: 1px solid #b9bcc0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* color: #000; */
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.3s;
  }
  .crumber ul li {
    border-bottom: 1px solid #dadada;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    width: 100%;
    text-align: left;
    color: #000;
  }
  .fdark .crumber ul {
    background-color: #777;
    border: 1px solid rgb(0, 0, 0);
  }
  .fdark .crumber ul li {
    border-bottom: 1px solid #333;
  }
  .more {
    display: none;
  }
  #icons {
    display: block;
  }
  #glass {
    margin-right: 2rem;
    background-color: #f2f3f4;
    padding: 1rem;
    border-radius: 50%;
    font-size: 20px;
  }
  #menu {
    font-size: 20px;
    margin-right: 0.5rem;
  }
  .drop {
    display: none;
  }

  .btnss {
    visibility: visible;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .btnss .bss {
    background: transparent;
    padding: 0.6rem 7rem;
    border: none;
    font-weight: 500;
    font-size: 15px;
  }
  .fdark .bss {
    color: #333;
  }
  .btnss .bn {
    padding: 0.6rem 7rem;
    margin: 0.5rem 2rem;
  }
  .crumber {
    overflow: hidden;
  }

  .active #icons {
    display: none;
  }
  .active #glass {
    display: none;
  }
  .active #cross {
    display: inline-block;
    z-index: 9999;
  }
  .active .searchings {
    display: block;
  }
  .active .crumber ul {
    transform: translateX(10%);
    right: 0;
  }
  .footer-logo {
    margin-top: 20px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    gap: 24px;
  }
}

@media screen and (max-width: 1440px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    gap: 24px;
  }
}
@media screen and (max-width: 770px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    gap: 24px;
  }
}

@media screen and (max-width: 640px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    gap: 24px;
  }
}

@media (max-width: 500px) {
  .other {
    margin: 2rem 0;
  }
  .by {
    /* margin: 1rem 0; */
    top: 93%;
    left: 0%;
    position: absolute;
    margin-left: 1rem 0;
    transform: translateX(50%);
    /* transform: translateY(0%); */
  }
  .by-1 {
    top: 93%;
    right: 78%;
    position: absolute;
    margin-left: 1rem 0;
    transform: translateX(50%);
  }
  .converter {
    padding-top: 1rem;
  }
}
form {
  position: relative;
}
.suggestion {
  position: absolute;
  top: 100%;
  margin-top: 1rem;
  left: 0;
  overflow-y: auto;
  height: 30rem;
  width: 30rem;
  background-color: #444;
  color: #fff;
  z-index: 5555;
  border-radius: 10px;
  display: none;
}
.suggestions {
  position: absolute;
  top: 100%;
  margin-top: 1rem;
  left: 0;
  overflow-y: auto;
  height: 30rem;
  width: 30rem;
  background-color: #444;
  color: #fff;
  z-index: 5555;
  border-radius: 10px;
  display: none;
}
.flex-box {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 0.5rem;
  padding: 1rem 0.3rem;
  cursor: pointer;
}
.flex-box:hover {
  background-color: #f2f3f4;
  color: #000;
}
hr {
  margin: 1rem 0;
}
.top-text {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding: 10px 4px;
  font-weight: 700;
}
